@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Onest-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Onest-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Onest-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Onest-Bold.ttf");
  font-display: swap;
}