:root  {
  // --color-accent: #D94136;
  // --color-sec-accent: #6E7E86;
  // --color-black: #000000;
  --color-white: #fff;
  --color-dark: #1B3E51;
  --color-light: #b1d3e1;
  --color-accent: #62B2A3;
}