<section class="section attendance-about">
 <div class="attendance-about__container">
  <div class="attendance-about__box col-12 row">
   <div class="col-5">
    <h2 class="attendance-about__title">Диагностика, лечение и&nbsp;профилактика</h2>
    <p class="attendance-about__text">
     Сурдолог&nbsp;&mdash; это врач, который диагностирует и&nbsp;лечит заболевания ушей, горла и&nbsp;носа. На&nbsp;приёме у&nbsp;сурдолога
     вы&nbsp;можете пройти обследование, которое включает в&nbsp;себя определение остроты слуха, уровня звуковосприятия
     и&nbsp;степени тугоухости. Также врач может выявить причину заболевания и&nbsp;назначить лечение.
    </p>
   </div>
   <div class="col-1"></div>
   <div class="col-6">
    <div class="attendance-about__image">
     <img src="/public/\img/attendance-about/1.jpg" alt="">
    </div>
   </div>
  </div>
 </div>
</section>