<section class="conditions section">
 <div class="conditions__container">
  <div class="section__box col-12 row">
   <h2 class="section__title">Корректный заголовок</h2>
   <div class="col-2"></div>
   <div class="section__wrapper col-6">
    <p class="section__descr">Наши специалисты окажут профессиональную консультацию при таких состояниях, как:
    </p>
    {{!-- <a href="/" class="section__link"></a> --}}
   </div>
   <div class="col-1"></div>
  </div>
  <ul class="conditions__list grid">
   <li class="conditions__item">
    <h3 class="conditions__caption">Односторонняя глухота</h3>
    <h3 class="conditions__text">
     Состояние, при котором человек не&nbsp;может слышать звуки на&nbsp;одном из&nbsp;ушей. Это может быть вызвано различными причинами,
     такими как нарушение слухового нерва, заболевания внутреннего уха или проблемы с&nbsp;наружным ухом.
    </h3>
   </li>
   <li class="conditions__item">
    <h3 class="conditions__caption">Двусторонняя глухота</h3>
    <h3 class="conditions__text">
     Двусторонняя глухота&nbsp;&mdash; это состояние, при котором человек не&nbsp;может слышать звуки на&nbsp;обоих ушах.
     Это может быть вызвано различными причинами, такими как инфекционные заболевания, травмы, старение
     или наследственные факторы.
    </h3>
   </li>
   <li class="conditions__item">
    <h3 class="conditions__caption">Тугоухость</h3>
    <h3 class="conditions__text">
     Тугоухость&nbsp;&mdash; это состояние, при котором человек имеет затруднения в&nbsp;понимании речи или звуков. Это может быть вызвано
     различными причинами, такими как нарушения слухового нерва, заболевания внутреннего уха или проблемы с&nbsp;наружным ухом.
    </h3>
   </li>
   <li class="conditions__item">
    <h3 class="conditions__caption">Шум в&nbsp;ушах</h3>
    <h3 class="conditions__text">
     Шум в&nbsp;ушах&nbsp;&mdash; это состояние, при котором человек слышит нежелательные звуки в&nbsp;своих ушах, такие как звон, шум или писк.
     Это может быть вызвано различными причинами, такими как нарушения слухового нерва, заболевания внутреннего уха или
     проблемы с&nbsp;наружным ухом.
    </h3>
   </li>
   <li class="conditions__item">
    <h3 class="conditions__caption">Внутричерепное давление</h3>
    <h3 class="conditions__text">
     Внутричерепное давление&nbsp;&mdash; это состояние, при котором давление внутри черепа повышено. Это может быть вызвано различными
     причинами, такими как опухоли, кровоизлияния или инфекции. Симптомы могут включать головную боль, тошноту, рвоту,
     судороги и&nbsp;другие неврологические симптомы.
    </h3>
   </li>
  </ul>
 </div>
</section>