<section class="section contacts">
 <div class="contacts__container">
  <h2 class="section__title contacts__title">Ждём вас на&nbsp;приеме</h2>
  <div class="section__box contacts__box">
   <button class="btn btn-reset btn-stroke">Записаться</button>
   <div class="section__wrapper">
   <ul class="contacts__list">
    <li class="contacts__item">
     <span class="contacts__caption">Адрес</span>
     <a class="contacts__link" href="">ул. Взлётная, 55</a>
    </li>
    <li class="contacts__item">
     <span class="contacts__caption">Телефон для записи</span>
     <a class="contacts__link" href="">+7 (800) 000 00 01</a>
    </li>
   </ul>
   </div>
  </div>
  <div class="contacts__map col-12" id="map-cochlea"></div>
 </div>
</section>