<section class="contacts-info section">
 <div class="contacts-info__container">
  <h2 class="contacts-info__title">Контактная информация</h2>
  <div class="contacts-info__wrapper">
   <div class="contacts-info__inner">
    <ul class="contacts-info__list">
     <li class="contacts-info__item">
      <span class="contacts-info__caption">Адрес</span>
      <span class="contacts-info__value" href="">ул. Взлётная, 55</span>
     </li>
     <li class="contacts-info__item">
      <span class="contacts-info__caption">Телефон для записи</span>
      <span class="contacts-info__value" href="">+7 (800) 000 00 01</span>
     </li>
     <li class="contacts-info__item">
      <span class="contacts-info__caption">Режим работы</span>
      <span class="contacts-info__value" href="">Пн–Пт: с 9:00 до 18:00</span>
     </li>
    </ul>
    <ul class="contacts-info__social social-contacts">
     <li class="social-contacts__item">
      <a href="/">
        <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path
          d="M7.83 0H19.17C23.49 0 27 3.64 27 8.12V19.88C27 22.0336 26.1751 24.0989 24.7066 25.6217C23.2382 27.1445 21.2466 28 19.17 28H7.83C3.51 28 0 24.36 0 19.88V8.12C0 5.96644 0.824944 3.90109 2.29335 2.37829C3.76176 0.855498 5.75336 0 7.83 0ZM7.56 2.8C6.27105 2.8 5.03489 3.331 4.12346 4.27618C3.21203 5.22137 2.7 6.50331 2.7 7.84V20.16C2.7 22.946 4.8735 25.2 7.56 25.2H19.44C20.729 25.2 21.9651 24.669 22.8765 23.7238C23.788 22.7786 24.3 21.4967 24.3 20.16V7.84C24.3 5.054 22.1265 2.8 19.44 2.8H7.56ZM20.5875 4.9C21.0351 4.9 21.4643 5.08437 21.7807 5.41256C22.0972 5.74075 22.275 6.18587 22.275 6.65C22.275 7.11413 22.0972 7.55925 21.7807 7.88744C21.4643 8.21563 21.0351 8.4 20.5875 8.4C20.1399 8.4 19.7107 8.21563 19.3943 7.88744C19.0778 7.55925 18.9 7.11413 18.9 6.65C18.9 6.18587 19.0778 5.74075 19.3943 5.41256C19.7107 5.08437 20.1399 4.9 20.5875 4.9ZM13.5 7C15.2902 7 17.0071 7.7375 18.273 9.05025C19.5388 10.363 20.25 12.1435 20.25 14C20.25 15.8565 19.5388 17.637 18.273 18.9497C17.0071 20.2625 15.2902 21 13.5 21C11.7098 21 9.9929 20.2625 8.72703 18.9497C7.46116 17.637 6.75 15.8565 6.75 14C6.75 12.1435 7.46116 10.363 8.72703 9.05025C9.9929 7.7375 11.7098 7 13.5 7ZM13.5 9.8C12.4259 9.8 11.3957 10.2425 10.6362 11.0302C9.87669 11.8178 9.45 12.8861 9.45 14C9.45 15.1139 9.87669 16.1822 10.6362 16.9698C11.3957 17.7575 12.4259 18.2 13.5 18.2C14.5741 18.2 15.6043 17.7575 16.3638 16.9698C17.1233 16.1822 17.55 15.1139 17.55 14C17.55 12.8861 17.1233 11.8178 16.3638 11.0302C15.6043 10.2425 14.5741 9.8 13.5 9.8Z"
          fill="#62B2A3" />
        </svg>
      </a>
     </li>
     <li class="social-contacts__item">
      <a href="/">
       <svg width="28" height="14" viewBox="0 0 28 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
         d="M27.9607 1.01112C28.1842 1.55623 27.4553 2.80827 25.7739 4.76725C25.5407 5.0398 25.2248 5.40179 24.8264 5.85321C24.4376 6.28759 24.1704 6.59421 24.0246 6.77308C23.8788 6.95194 23.7306 7.16274 23.58 7.40548C23.4293 7.64823 23.371 7.82709 23.405 7.94207C23.439 8.05706 23.5022 8.20398 23.5945 8.38284C23.6869 8.56171 23.8448 8.74483 24.0683 8.93221C24.2919 9.11959 24.5688 9.3453 24.8993 9.60933C24.9381 9.62637 24.9624 9.6434 24.9722 9.66044C26.3425 10.7762 27.2706 11.7174 27.7566 12.4839C27.7857 12.5265 27.8173 12.5797 27.8513 12.6436C27.8853 12.7075 27.9193 12.8204 27.9534 12.9822C27.9874 13.144 27.985 13.2888 27.9461 13.4166C27.9072 13.5443 27.7857 13.6614 27.5816 13.7679C27.3775 13.8744 27.0908 13.9276 26.7215 13.9276L22.9895 13.9787C22.7563 14.0213 22.4842 14 22.1732 13.9148C21.8622 13.8297 21.6095 13.736 21.4151 13.6338L21.1236 13.4804C20.832 13.3016 20.4918 13.029 20.1031 12.6628C19.7143 12.2965 19.3815 11.9665 19.1045 11.6726C18.8275 11.3788 18.5311 11.1318 18.2152 10.9316C17.8994 10.7315 17.6248 10.6655 17.3916 10.7336C17.3624 10.7421 17.3236 10.757 17.275 10.7783C17.2264 10.7996 17.1438 10.8614 17.0271 10.9636C16.9105 11.0658 16.806 11.1914 16.7137 11.3405C16.6214 11.4895 16.5388 11.711 16.4659 12.0048C16.393 12.2987 16.3614 12.6287 16.3711 12.995C16.3711 13.1227 16.3541 13.2398 16.3201 13.3463C16.2861 13.4528 16.2496 13.5315 16.2108 13.5827L16.1525 13.6465C15.9775 13.8084 15.72 13.9021 15.3798 13.9276H13.7033C13.0133 13.9617 12.3039 13.8914 11.575 13.7168C10.8461 13.5422 10.207 13.3165 9.65794 13.0397C9.10884 12.7629 8.60832 12.4818 8.15641 12.1965C7.70449 11.9111 7.3619 11.6663 7.12865 11.4618L6.7642 11.1552C6.66702 11.0701 6.53339 10.9423 6.36331 10.7719C6.19323 10.6016 5.84579 10.2141 5.32098 9.60933C4.79617 9.00461 4.28108 8.36155 3.77571 7.68017C3.27034 6.99878 2.67507 6.10021 1.9899 4.98444C1.30473 3.86868 0.670589 2.71033 0.0874682 1.50939C0.0291561 1.37311 0 1.25813 0 1.16444C0 1.07075 0.014578 1.00261 0.0437341 0.960021L0.102046 0.883365C0.247826 0.721537 0.524809 0.640622 0.932994 0.640622L4.92737 0.61507C5.044 0.632105 5.15576 0.659786 5.26267 0.698114C5.36957 0.736442 5.44732 0.77264 5.49592 0.80671L5.56881 0.845037C5.7243 0.938728 5.84093 1.075 5.91868 1.25387C6.11305 1.67973 6.33658 2.1205 6.58927 2.57618C6.84195 3.03185 7.04119 3.37893 7.18697 3.61742L7.42022 3.98792C7.70206 4.49896 7.97418 4.94186 8.23658 5.31662C8.49899 5.69138 8.73467 5.9831 8.94362 6.19177C9.15257 6.40044 9.35423 6.5644 9.54861 6.68364C9.74298 6.80289 9.9082 6.86251 10.0443 6.86251C10.1803 6.86251 10.3115 6.84121 10.4379 6.79863C10.4573 6.79011 10.4816 6.76882 10.5108 6.73475C10.5399 6.70068 10.5982 6.60699 10.6857 6.45368C10.7732 6.30036 10.8388 6.10021 10.8825 5.85321C10.9262 5.60621 10.9724 5.26125 11.021 4.81836C11.0696 4.37546 11.0696 3.84313 11.021 3.22136C11.0015 2.88067 10.9578 2.56979 10.8898 2.28872C10.8218 2.00765 10.7537 1.81175 10.6857 1.70103L10.5982 1.54771C10.3553 1.25813 9.94221 1.075 9.35909 0.998349C9.23275 0.981314 9.25705 0.879107 9.43198 0.691726C9.58748 0.529897 9.77214 0.402138 9.98595 0.308448C10.501 0.0869981 11.6624 -0.0152095 13.4701 0.00182513C14.267 0.0103424 14.923 0.0657049 15.4381 0.167912C15.6325 0.210499 15.7953 0.267991 15.9265 0.340388C16.0577 0.412785 16.1573 0.514992 16.2253 0.64701C16.2934 0.779028 16.3444 0.915305 16.3784 1.05584C16.4124 1.19638 16.4294 1.39014 16.4294 1.63715C16.4294 1.88415 16.4246 2.11837 16.4149 2.33982C16.4051 2.56127 16.393 2.86151 16.3784 3.24053C16.3638 3.61955 16.3565 3.97088 16.3565 4.29454C16.3565 4.38823 16.3517 4.5671 16.342 4.83113C16.3322 5.09517 16.3298 5.29958 16.3347 5.44438C16.3395 5.58917 16.3565 5.76165 16.3857 5.9618C16.4149 6.16196 16.4707 6.32805 16.5533 6.46006C16.636 6.59208 16.7453 6.69642 16.8814 6.77308C16.9591 6.79011 17.0417 6.80714 17.1292 6.82418C17.2166 6.84121 17.343 6.79437 17.5082 6.68364C17.6734 6.57292 17.8581 6.42599 18.0622 6.24287C18.2663 6.05975 18.519 5.77442 18.8202 5.38688C19.1215 4.99935 19.4519 4.54154 19.8115 4.01347C20.3947 3.12767 20.9146 2.16948 21.3714 1.13888C21.4103 1.05371 21.4589 0.979185 21.5172 0.915305C21.5755 0.851425 21.6289 0.80671 21.6775 0.781158L21.7358 0.74283L21.8087 0.71089L21.9982 0.672562L22.2898 0.666174L26.4883 0.640622C26.8673 0.598036 27.1783 0.608682 27.4213 0.672562C27.6642 0.736442 27.8149 0.80671 27.8732 0.883365L27.9607 1.01112Z"
         fill="#62B2A3" />
       </svg>
      </a>
     </li>
     <li class="social-contacts__item">
      <a href="/">
        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path
          d="M21.9547 0.194239C21.9547 0.194239 24.1747 -0.758043 23.989 1.55446C23.9278 2.50674 23.373 5.84004 22.941 9.44488L21.461 20.1243C21.461 20.1243 21.3376 21.6888 20.2273 21.9609C19.1176 22.2325 17.4525 21.0087 17.1439 20.7365C16.8971 20.5322 12.5188 17.4711 10.9772 15.9751C10.5452 15.5665 10.0515 14.7506 11.0389 13.7984L17.5136 6.99598C18.2536 6.1801 18.9936 4.27554 15.9102 6.58804L7.27606 13.0497C7.27606 13.0497 6.28922 13.7305 4.43953 13.1182L0.430448 11.7574C0.430448 11.7574 -1.04953 10.7372 1.479 9.71706C7.64634 6.52015 15.2319 3.25537 21.9536 0.194239H21.9547Z"
          fill="#62B2A3" />
        </svg>
      </a>
     </li>
    </ul>
   </div>
   <div class="contacts__map col-12" id="map-cochlea"></div>
  </div>
  <div class="contacts-info__box come">
   <h2 class="come__title section__title">Как добраться</h2>
   <ul class="come__list">
    <li class="come__item">
     <h3 class="come__heading">Трамвай</h3>
     <p class="come__text">
      <span class="accent">Остановка Взлетная.</span>Трамваи&nbsp;2, 7, 10. Троллейбус&nbsp;7. От&nbsp;остановки пройти 100&nbsp;метров.
     </p>
    </li>
    <li class="come__item">
     <h3 class="come__heading">Автобус</h3>
     <p class="come__text">
      <span class="accent">Остановка Взлетная.</span>Автобус&nbsp;20, 35, 37, 53, 60, 80, 137, 138, 149. <br> От&nbsp;остановки пройти 100&nbsp;метров.
     </p>
    </li>
    <li class="come__item">
     <h3 class="come__heading">Маршрутное такси</h3>
     <p class="come__text">
      <span class="accent">Остановка Взлетная.</span>Такси&nbsp;29, 47, 51, 121. <br> От&nbsp;остановки пройти 100&nbsp;метров.
     </p>
    </li>
   </ul>
  </div>
 </div>
</section>