<section class="examinations section">
 <div class="examinations__container">
  <div class="section__box col-12 row">
   <h2 class="section__title col-6">Проведение аудиологических обследований</h2>
   {{!-- <div class="col-1"></div> --}}
   <div class="section__wrapper col-6">
    <p class="section__descr">Небольшой текствовое описание услуги. В&nbsp;данном случае, проведения аудиологриечских обследований. Здесь можно будет раскрыть чуть более подробно что это и&nbsp;из&nbsp;чего состоит.
    </p>
    <button class="btn btn-reset btn-stroke">Записаться</button>
   </div>
   {{!-- <div class="col-1"></div> --}}
  </div>
  <h3 class="examinations__subtitle">Стоимость услуг</h3>
  <ul class="examinations__list">
   <li class="examinations__item">
    <div class="examinations__inner">
     <h4 class="examinations__caption">Корректное название процедуры в&nbsp;множество символов с&nbsp;запасом</h4>
     <span class="examinations__info">Осмотр, консультация</span>
    </div>
    <span class="examinations__price">от 3 100 руб</span>
   </li>
   <li class="examinations__item">
    <div class="examinations__inner">
     <h4 class="examinations__caption">Корректное название процедуры в&nbsp;множество символов с&nbsp;запасом</h4>
     <span class="examinations__info">Осмотр, консультация</span>
    </div>
    <span class="examinations__price">от 3 100 руб</span>
   </li>
   <li class="examinations__item">
    <div class="examinations__inner">
     <h4 class="examinations__caption">Корректное название процедуры в&nbsp;множество символов с&nbsp;запасом</h4>
     <span class="examinations__info">Осмотр, консультация</span>
    </div>
    <span class="examinations__price">от 3 100 руб</span>
   </li>
   <li class="examinations__item">
    <div class="examinations__inner">
     <h4 class="examinations__caption">Корректное название процедуры в&nbsp;множество символов с&nbsp;запасом</h4>
     <span class="examinations__info">Осмотр, консультация</span>
    </div>
    <span class="examinations__price">от 3 100 руб</span>
   </li>
   <li class="examinations__item">
    <div class="examinations__inner">
     <h4 class="examinations__caption">Корректное название процедуры в&nbsp;множество символов с&nbsp;запасом</h4>
     <span class="examinations__info">Осмотр, консультация</span>
    </div>
    <span class="examinations__price">от 3 100 руб</span>
   </li>
  </ul>
 </div>
</section>