<header class="header header-light" id="header">
 <div class="header__container">
  <a href="/" class="header__logo">
   <img src="/public/logo-header-light.png" alt="">
  </a>
  <div class="header__menu menu">
   <div class="menu__icon">
    <span></span>
   </div>
   <div class="menu__body">
    <ul class="menu__list">
     <li class="menu__item">
      <a href="/cochlea/src/pages/attendance.html" class="menu__link">
       Услуги
      </a>
     </li>
     <li class="menu__item">
      <a href="/cochlea/src/pages/clinic.html" class="menu__link">
       О клинике
      </a>
     </li>
     <li class="menu__item">
      <a href="/cochlea/src/pages/contacts-info.html" class="menu__link">
       Контакты
      </a>
     </li>
    </ul>
    <ul class="menu__info">
     <li>
      <a href="">+7 923 172 68 94</a>
     </li>
     <li>
      <a href="">Павловский тракт, 313Б</a>
     </li>
    </ul>
   </div>

  </div>
  <div class="menu__information">
   <a href="tel:+78000000001" class="menu__phone">+7 800 000 00 01</a>
  </div>
 </div>
</header>