<section class="hero" id="hero" data-section="hero">
 <div class="hero__container">
  <div class="hero__box">
   <h1 class="hero__title">Услуги сурдологической клиники</h1>
   </div>
  <button class="btn btn-reset hero__btn">Записаться</button>
 </div>
</section>