<section class="hero" id="hero" data-section="hero">
  <div class="hero__container">
    <div class="hero__box">
      <h1 class="hero__title">Комплексный подход к&nbsp;восстановлению слуха</h1>
      <p class="hero__descr">Современная клиника с&nbsp;актуальными методиками диагностики и&nbsp;лечения</p>
    </div>
    <button class="js-open-modal btn btn-reset hero__btn">Записаться</button>
  </div>
</section>

