<section class="joy section">
 <div class="joy__container">
  <h2 class="joy__title section__title">Возвращаем радость слуха</h2>
  <div class="joy__wrapper">
   <div class="joy__cards">
    <div class="joy__item one joy__item-1">
     <div class="joy__content">
      <h3 class="joy__caption">20&nbsp;лет опыта сурдолгии</h3>
      <p class="joy__text">Главный врач <span>Разливинская Наталья Юрьевна</span>, имеет более 20&nbsp;лет опыта работы в&nbsp;области оториноларингологии и&nbsp;сурдологии, возвращает комфорт обычной жизни</p>
     </div>
    </div>
    <div class="joy__item two joy__item-2 row col-12">
     <div class="joy__content col-8">
      <h3 class="joy__caption">Для взрослых и&nbsp;детей</h3>
      <p class="joy__text">Предоставляем все необходимые медицинские услуги как для взрослых, так и&nbsp;для детей</p>
      
     </div>
     <div class="col-1"></div>
     <img class="joy__image col-3" src="/public/img/joy/2.png" alt="">
    </div>
    <div class="joy__item three joy__item-3">
     <div class="joy__content">
      <h3 class="joy__caption">Предоставляем только лицензированные услуги</h3>
      <p class="joy__text">Прошли все необходимые проверки и&nbsp;подготовились к&nbsp;плодотворному сотрудничеству</p>
      <a class="joy__link" href="/">Смотреть лицензию</a>
     </div>
    </div>
    <div class="joy__item four joy__item-4 row col-12">
     <div class="joy__content col-8">
      <h3 class="joy__caption">Рядом, на&nbsp;Взлетной&nbsp;55</h3>
      <p class="joy__text">Удобная транспортная доступность и&nbsp;свободная парковка</p>
      <a href="/" class="joy__link">Контакты</a>
     </div>
     <div class="col-1"></div>
      <img  class="joy__image col-3" src="/public/img/joy/1.png" alt="">
    </div>
    <div class="joy__item five joy__item-5">
     <div class="joy__content">
      <h3 class="joy__caption">Бережем ваше время</h3>
      <p class="joy__text">В&nbsp;нашей клинике нет очередей, а&nbsp;прием проходит максимально быстро и&nbsp;эффективно</p>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>