<section class="legal section">
 <div class="legal__container">
  <h2 class="section__title legal__title">
   Юридическая информация
  </h2>
  <ul class="legal__list grid">
   <li class="legal__item">
    <h3 class="legal__caption">Полное наименование организации:</h3>
    <p class="legal__info">Общество с&nbsp;ограниченной ответственностью &laquo;Сурдологическая клиника Кохлеа&raquo;</p>
   </li>
   <li class="legal__item">
    <h3 class="legal__caption">Сокращенное наименование:</h3>
    <p class="legal__info">ООО &laquo;Сурдологическая клиника Кохлеа&raquo;</p>
   </li>
   <li class="legal__item">
    <h3 class="legal__caption">Юридический адрес:</h3>
    <p class="legal__info">000000, г. Тоска, Скучный пер., д.1</p>
   </li>
   <li class="legal__item">
    <h3 class="legal__caption">Почтовый адрес:</h3>
    <p class="legal__info">000000, г. Тоска, Скучный пер., д.1</p>
   </li>
   <li class="legal__item">
    <h3 class="legal__caption">ИНН/КПП:</h3>
    <p class="legal__info">770700000&nbsp;/ 70000000</p>
   </li>
   <li class="legal__item">
    <h3 class="legal__caption">ОГРН:</h3>
    <p class="legal__info">1324656579796</p>
   </li>
   <li class="legal__item">
    <h3 class="legal__caption">Расчётный счет:</h3>
    <p class="legal__info">8775413241698541354</p>
   </li>
   <li class="legal__item">
    <h3 class="legal__caption">Корреспондентский счет:</h3>
    <p class="legal__info">30000000000000000000</p>
   </li>
   <li class="legal__item">
    <h3 class="legal__caption">Генеральный директор:</h3>
    <p class="legal__info">Разливинская Наталья Юрьевна</p>
   </li>
   <li class="legal__item">
    <h3 class="legal__caption">Дата регистрации:</h3>
    <p class="legal__info">31.12.2023г</p>
   </li>
  </ul>
 </div>
</section>