<section class="purpose section">
 <div class="purpose__container">
  <div class="purpose__box">
   <p class="purpose__caption">Наша цель&nbsp;&mdash; вернуть прежние и&nbsp;открыть новые возможности для взаимодействия с&nbsp;окружающим миром</p>
   <div class="purpose__wrapper">
    <span class="purpose__fio">Разливинская Наталья Юрьевна</span>
    <p class="purpose__about">Врач высшей категории, чемпион по&nbsp;скоростной реанимации, любимый врач-сурдолог более 30&nbsp;семей Алтайского края</p>
   </div>
    <div class="purpose-image">
      <img src="/public/img/vrach.png" alt="">
    </div>
   </div>
 </div>
</section>