<section class="section regards">
 <div class="regards__container">
  <h2 class="section__title regards__title">Безопасное и&nbsp;дружелюбное пространство, которое отвечает всем современным требованиям</h2>
  <div class="regards__box col-12 row">
   <div class="col-5">
    <p class="regards__text">
     Сурдологическая клиника специализируется на диагностике и лечении широкого спектра заболеваний и жалоб, связанных с
     ушами, горлом и носом. Вот некоторые из них:
    </p>
    <ul class="regards__list">
     <li class="regards__item">&mdash;&nbsp;<span class="accent">Отит</span>: воспаление среднего уха, которое может вызывать боли, снижение слуха и&nbsp;выделения из&nbsp;уха.</li>
     <li class="regards__item">&mdash;&nbsp;<span class="accent">Синусит</span>: воспаление синусов, которое может приводить к&nbsp;головной боли, насморку, заложенности носа и&nbsp;синусовому кровотечению.</li>
     <li class="regards__item">&mdash;&nbsp;<span class="accent">Головная боль</span>: различные типы головной боли, включая напряжение, мигрень и&nbsp;кластерные головные боли.</li>
     <li class="regards__item">&mdash;&nbsp;<span class="accent">Потеря слуха</span>: врожденная или приобретенная потеря слуха, которая может быть вызвана различными причинами, включая старение, травму или болезнь.</li>
    </ul>
   </div>
   <div class="col-1"></div>
   <div class="col-6 regards__gallery  grid">
    <div class="regards__image ">
     <img src="/public/img/regards/1.jpg" alt="">
    </div>
    <div class="regards__image regards__image-2">
     <img src="/public/img/regards/3.jpg" alt="">
    </div>
    <div class="regards__image">
     <img src="/public/img/regards/2.jpg" alt="">
    </div>
   </div>
  </div>
 </div>
</section>