<section class="section reviews">
 <div class="reviews__container">
  <h2 class="section__title reviews__title">
   Отзывы пациентов
  </h2>
  <div class="reviews__swiper swiper">
   <div class="swiper-wrapper">
    <div class="swiper-slide">
     <div class="reviews__content">
      <div class="reviews__wrapper">
       <div class="reviews__heading">
        <span class="reviews__fio">Владислав К.</span>
        <span class="reviews__age">23 года</span>
       </div>
       <span class="reviews__date">22 ноября 2023</span>
      </div>
      <p class="reviews__text">
       Я&nbsp;очень доволен посещением клиники. Обслуживание было высококлассным, персонал был очень дружелюбным и&nbsp;профессиональным. Я&nbsp;получил детальную консультацию о&nbsp;моих проблемах со&nbsp;слухом, а&nbsp;также был предложен наилучший вариант решения моих проблем.
      </p>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="reviews__content">
      <div class="reviews__wrapper">
       <div class="reviews__heading">
        <span class="reviews__fio">Владислав К.</span>
        <span class="reviews__age">23 года</span>
       </div>
       <span class="reviews__date">22 ноября 2023</span>
      </div>
      <p class="reviews__text">
       Я&nbsp;очень доволен посещением клиники. Обслуживание было высококлассным, персонал был очень дружелюбным и&nbsp;профессиональным. Я&nbsp;получил детальную консультацию о&nbsp;моих проблемах со&nbsp;слухом, а&nbsp;также был предложен наилучший вариант решения моих проблем.
      </p>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="reviews__content">
      <div class="reviews__wrapper">
       <div class="reviews__heading">
        <span class="reviews__fio">Владислав К.</span>
        <span class="reviews__age">23 года</span>
       </div>
       <span class="reviews__date">22 ноября 2023</span>
      </div>
      <p class="reviews__text">
       Я&nbsp;очень доволен посещением клиники. Обслуживание было высококлассным, персонал был очень дружелюбным и&nbsp;профессиональным. Я&nbsp;получил детальную консультацию о&nbsp;моих проблемах со&nbsp;слухом, а&nbsp;также был предложен наилучший вариант решения моих проблем.
      </p>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="reviews__content">
      <div class="reviews__wrapper">
       <div class="reviews__heading">
        <span class="reviews__fio">Владислав К.</span>
        <span class="reviews__age">23 года</span>
       </div>
       <span class="reviews__date">22 ноября 2023</span>
      </div>
      <p class="reviews__text">
       Я&nbsp;очень доволен посещением клиники. Обслуживание было высококлассным, персонал был очень дружелюбным и&nbsp;профессиональным. Я&nbsp;получил детальную консультацию о&nbsp;моих проблемах со&nbsp;слухом, а&nbsp;также был предложен наилучший вариант решения моих проблем.
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class="reviews__nav">
    <div class="reviews__btn reviews-next swiper-button-next">
     <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 13L7 7L1 1" stroke="#1B3E51" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
     </svg>
    </div>
    <div class="reviews__btn reviews-prev swiper-button-prev">
     <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7 13L0.999999 7L7 1" stroke="#1B3E51" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
     </svg>
    </div>
  </div>
 </div>
</section>