<section class="should section">
 <div class="should__container">
  <h2 class="section__title should__title">Почему стоит обратиться в&nbsp;нашу клинику</h2>
  <ul class="should__list">
   <li class="should__item">
    <div class="should__box">
     <div class="should__wrapper">
      <h3 class="should__caption">Высокая квалификация</h3>
      <p class="should__descr">Разливинская Наталья Юрьевна&nbsp;&mdash; врач высшей категории, чемпион по&nbsp;скоростной реанимации, член союза сурдологов&nbsp;РФ</p>
     </div>
     <img class="should__img" src="/public/img/should/1.png" alt="">
    </div>
   </li>
   <li class="should__item">
    <div class="should__box">
     <div class="should__wrapper">
      <h3 class="should__caption">Проверенные методики</h3>
      <p class="should__descr">Проверенные временем и&nbsp;опытом методы лечения, для наиболее эффективного результата</p>
     </div>
     <img class="should__img" src="/public/img/should/2.png" alt="">
    </div>
   </li>
   <li class="should__item">
    <div class="should__box">
     <div class="should__wrapper">
      <h3 class="should__caption">Прозрачная стоимость</h3>
      <p class="should__descr">Стоимость услуг представлена в&nbsp;прайс-листе услуг, без скрытых комиссий и&nbsp;неожиданных процедур</p>
     </div>
     <img class="should__img" src="/public/img/should/3.png" alt="">
    </div>
   </li>
  </ul>
 </div>
</section>